// color
// https://dribbble.com/shots/4143481-Flat-UI-Colors-2-Japan
$blackColor: #3b393c;
$paleGrayColor: #f6f6f6;
$grayColor: #ece9e0;
$deepGrayColor: #69696c;
$greenColor: #036273;
$whiteColor: #ffffff;

// semantic color
$textColor: $blackColor;
$mainColor: $greenColor;
$linkColor: $greenColor;
$mainBgColor: $whiteColor;
$codeBlockBgColor: $paleGrayColor;

// font size
$mainFontSize: 1.6rem;

// font family
$mainFont: sans-serif;
$logoFont: 'Allerta Stencil', sans-serif;
$codeFont: 'Courier New', sans-serif;

// line height
$mainLineHeight: 1.6;
$headingLineHeight: 1.5;

// break points
$spBreakPoint: 767px;
$tbBreakPoint: 1024px;

// radius
$formRadius: 3px;

// duration
$mainAnimationDuration: .2s;
