* {
  margin: 0;
  padding: 0;
}

.TaskList {

}
.TaskList__item {
  border-bottom: 1px solid #000;
}

.Task {
  position: relative;

  display: flex;
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;

  overflow: hidden;
}
.Task__check {
  flex-grow: 0;
  flex-shrink: 0;
}
.Task__title {
  flex-grow: 1;
  flex-shrink: 1;
}
.Task__delete {
  position: absolute;
  right: 0;
  top: 0; bottom: 0;
  width: 0;

  background: #e74c3c;
  color: #fff;

  white-space: nowrap;
}
