<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <v-app>
        <main>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs6>
                <v-text-field
                  label="バイト列"
                  v-model="code"
                  @blur="updateString"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  label="文字列"
                  v-model="string"
                  @blur="updateCode"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </main>
      </v-app>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script>
    new Vue({
      el: '#app',
      data: {
        code: '',
        string: ''
      },
      methods: {
        updateString: function() {
          var codeArray = this.code.split(' ');

          var tmp = '';
          codeArray.forEach(function(e, i, a) {
            try {
              tmp += String.fromCodePoint(e);
            } catch(e) {
            }
          });
          this.string = tmp;
        },
        updateCode: function() {
          var stringArray = this.string.split('');

          var tmp = '';
          stringArray.forEach(function(e, i, a) {
            var index = e.charCodeAt();

            // NaN判定のイディオム
            // http://qiita.com/south37/items/e400a3a698957ab4aa7a
            if (index !== index) {
            } else {
              tmp += '0x' + index.toString(16) + ' ';
            }
          });

          this.code = tmp;
        }
      }
    });
    </script>
  </body>
</html>
